# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data
data/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PyTorch
*.pth
*.pt
checkpoints/